
<div class="container">
    <div class="text-center mb-2-3 mb-lg-6">
        <h2 class="h1 mb-0 text-secondary">PLAN OPERATIVO ANUEL (POA)</h2>
    </div>
    <hr>

    <div>
        <p>Alcance: : SL01</p>
        <p>Actividad : Capacitar al personal de seguridad y vigilancia</p>
        <p>Indicador : Nº de capacitaciones</p>
        <p>Meta : 3</p>
    </div>

    <button matStepperPrevious type="button" class="btn btn-outline-secondary">VOLVER</button>

    <br>
    <br>

    <mat-accordion>

        <!-- panel 1 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TAREA  1
                  </mat-panel-title>
                  <mat-panel-description> 33.33% </mat-panel-description>
                  <mat-icon>book</mat-icon>
            </mat-expansion-panel-header>

            <div class="d-flex"  >
                <div class="d-block" >
                    <div class="form-check d-flex"  >
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"  style="padding: 15px;">
                            Subtarea 1.1 (16.66%)
                        </label>

                        <!-- calendario -->
                        <mat-form-field color="accent" style="padding: 15px;">
                            <mat-label >INICIO</mat-label>
                            <input matInput [matDatepicker]="picker1">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field color="accent" style="padding: 15px;">
                            <mat-label >FIN</mat-label>
                            <input matInput [matDatepicker]="picker2">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
  
                          
                          <!-- monto -->
                          <div class="d-flex" style="padding: 15px;">
                              <p style="padding: 15px;">RH : S/.100,000.00 - RMF:S/.70,000.00 - INV:S/. - IMPR S/. -</p>
                              <input type="email" class="form-control" id="floatingInput" placeholder="Inserte el monto">
                          </div>
                    </div>


                    <div class="form-check d-flex">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault" style="padding: 15px;">
                            Subtarea 1.2 (16.66%)
                        </label>

                        <!-- calendario -->
                        <mat-form-field color="accent" style="padding: 15px;">
                            <mat-label>INICIO</mat-label>
                            <input matInput [matDatepicker]="picker2">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                          </mat-form-field>
                        <mat-form-field color="accent" style="padding: 15px;">
                          <mat-label>FIN</mat-label>
                          <input matInput [matDatepicker]="picker2">
                          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>

                        <!-- monto -->

                        <div class="d-flex">
                            <p style="padding: 15px;">RH : S/.100,000.00 - RMF:S/.70,000.00 - INV:S/. - IMPR S/. -</p>
                            <input type="email" class="form-control" id="floatingInput" placeholder="Inserte el monto">
                        </div>

                    </div>
                </div>
            </div>

        </mat-expansion-panel>


        <!-- panel 2 -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TAREA 2
                  </mat-panel-title>
                  <mat-panel-description> 33.33% </mat-panel-description>
                  <mat-icon>book</mat-icon>
            </mat-expansion-panel-header>


            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Subtarea 1.1 (16.66%)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Subtarea 1.2 (16.66%)
                </label>
            </div>


        </mat-expansion-panel>



        <!-- panel 3 -->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TAREA 3
                  </mat-panel-title>
                  <mat-panel-description> 33.33% </mat-panel-description>
                  <mat-icon>book</mat-icon>
            </mat-expansion-panel-header>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Subtarea 1.1 (16.66%)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Subtarea 1.1 (16.66%)
                </label>
            </div>
        </mat-expansion-panel>


    </mat-accordion>
</div> 